{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "camelcase": "off",
    "prettier/prettier": ["error"],
    "radix": "off",
    "import/newline-after-import": "warn",
    "no-prototype-builtins": "warn"
  }
}
